In [ ]:
import pandas as pd

# Load dataset from URL (you can also use your local file)
url = "https://storage.googleapis.com/download.tensorflow.org/data/creditcard.csv"
df = pd.read_csv(url)

# Show first 10 rows
df.head(10)
print("----- BEFORE CLEANING -----")
print(df.info())
print("\nMissing Values:\n", df.isnull().sum())
print("\nDuplicate Rows:", df.duplicated().sum())
df = df.drop_duplicates()
df = df.dropna()  # remove rows with missing values
# or fill missing values:
# df.fillna(df.mean(), inplace=True)
import numpy as np
Q1 = df['Amount'].quantile(0.25)
Q3 = df['Amount'].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df['Amount'] < (Q1 - 1.5 * IQR)) | (df['Amount'] > (Q3 + 1.5 * IQR)))]
print("----- AFTER CLEANING -----")
print(df.info())
print("\nMissing Values:\n", df.isnull().sum())
print("\nDuplicate Rows:", df.duplicated().sum())

----- BEFORE CLEANING -----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
None

Missing Values:
 Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

Duplicate Rows: 1081
----- AFTER CLEANING -----
<class 'pandas.core.frame.DataFrame'>
Index: 252041 entries, 0 to 284805
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    252041 non-null  float64
 1   V1      252041 non-null  float64
 2   V2      252041 non-null  float64
 3   V3      252041 non-null  float64
 4   V4      252041 non-null  float64
 5   V5      252041 non-null  float64
 6   V6      252041 non-null  float64
 7   V7      252041 non-null  float64
 8   V8      252041 non-null  float64
 9   V9      252041 non-null  float64
 10  V10     252041 non-null  float64
 11  V11     252041 non-null  float64
 12  V12     252041 non-null  float64
 13  V13     252041 non-null  float64
 14  V14     252041 non-null  float64
 15  V15     252041 non-null  float64
 16  V16     252041 non-null  float64
 17  V17     252041 non-null  float64
 18  V18     252041 non-null  float64
 19  V19     252041 non-null  float64
 20  V20     252041 non-null  float64
 21  V21     252041 non-null  float64
 22  V22     252041 non-null  float64
 23  V23     252041 non-null  float64
 24  V24     252041 non-null  float64
 25  V25     252041 non-null  float64
 26  V26     252041 non-null  float64
 27  V27     252041 non-null  float64
 28  V28     252041 non-null  float64
 29  Amount  252041 non-null  float64
 30  Class   252041 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 61.5 MB
None

Missing Values:
 Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

Duplicate Rows: 0